@font-face {
  font-family: 'Ubuntu Mono';
  src: local('Ubuntu Mono'), url(./fonts/UbuntuMono-Regular.ttf) format('truetype');
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
}

.container{
  margin: 0 auto;
  width: 1000px;
  /* border: 1px solid red; */
}

.header{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid yellow; */
}

.text-freepik{
  margin: 25px 74px 40px 74px;
}

.title-freepik{
  font-size: 25px;
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.p-freepik{
  font-size: 19px;
  margin: 0;
}

.grid-freepik{
  margin: 0 74px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content:  space-between;
  flex-wrap: wrap;
}

.grid-freepik img {
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.grid-freepik img:nth-child(-n + 6){
  margin: 0 0 35px 0;
}

.grid-freepik img:nth-child(2), img:nth-child(4) {
  width: 261px;
  height: 227px;
}

.grid-freepik img:nth-child(8), img:nth-child(7){
  width: 408px;
  height: 227px;
}

.social{
  margin: 72px 74px 48px 74px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p-social-freepik{
  margin: 0 0 35px 0;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.iconos{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-direction: row;
}

footer{
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coming-soon p{
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .container{
    width: 80vw;
  }
  .text-freepik{
    margin: 25px 0 40px 0;
  }
  .p-freepik{
    font-size: 16px;
    margin: 0;
    text-align: justify;
  }
  .grid-freepik{
    margin: 0;
    justify-content: center;
    flex-direction: column;
  }

  .grid-freepik img:nth-child(n+1){
    margin: 0 0 35px 0;
  }

  .grid-freepik img:nth-child(n+7){
    width: 261px;
    height: 145px;
  }

  .grid-freepik img:last-child{
    margin: 0;
  }

  .p-social-freepik{
    font-size: 20px;
  }
}
